<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>33912818028-d3romhls8qlh4pfgphrcdoq3jk9vjhbk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.33912818028-d3romhls8qlh4pfgphrcdoq3jk9vjhbk</string>
	<key>API_KEY</key>
	<string>AIzaSyCS5AXEgq6OEoD_g4a5zjWCm0LO1NCg56Y</string>
	<key>GCM_SENDER_ID</key>
	<string>33912818028</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gjimenezca.RunningMate</string>
	<key>PROJECT_ID</key>
	<string>runningmate-be022</string>
	<key>STORAGE_BUCKET</key>
	<string>runningmate-be022.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:33912818028:ios:959850c4aba89de1db4b49</string>
</dict>
</plist>